.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
esbuild.js
eslint.config.mjs
tsconfig.json
.vscode-test.mjs
.vscode-test/**
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/.eslintrc.json
node_modules/**
out/**
.github/**
test.py
test.html
test.css
ai-log.csv
*.vsix
